.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  transition: transform 0.2s ease-in-out;
  max-width: 200px;
  overflow: hidden;
}

.img-container {
  position: relative;
  width: 100%;
  height: 250px; /* giống chiều cao ảnh */
  border-radius: 6px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 4px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.img-container:hover .title-overlay {
  opacity: 1;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card:hover .img-container img {
  filter: brightness(1.1);

  box-shadow: 0 6px 20px rgba(5, 255, 89, 0.3);
  transition: all 0.2s ease-in-out;
}

.title {
  display: block;
  max-width: 90%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 0;
  font-family: "Merriweather", serif;
  color: white;
}
.price {
  font-family: "Inter", sans-serif;
  color: #07d881;
  font-weight: bold;
  font-size: 14px;
}
.action {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.8rem;
  justify-content: center;
}
.btn-cart {
  background-color: #12728f;
  border: none;
  color: #fdf6f6;
}

.btn-cart:hover {
  background-color: #0ac46d;
  transform: scale(1.1);
}
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-detail {
  background-color: #fff;
  border: 2px solid #3f6d85;
  color: #12728f;
}

.btn-detail:hover {
  background-color: #12728f;
  color: #fff;
}
