.container {
  display: flex;
  width: 1100px;
  justify-content: space-evenly;
}
.box {
  display: flex;
  border: 1px solid green;
  padding: 1rem;
  width: 230px;
}
.promo {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 2rem;
  color: rgb(2, 241, 130);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.box:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(9, 172, 123, 0.2);
}
